<div class="p-6 bg-gray-100 relative rounded shadow">
  <button (click)="close()" type="button" class="absolute top-3 right-3 focus:outline-none p-2">
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <div class="flex space-x-2 mb-5">
    <fa-icon class="text-gray-800 pt-1" [icon]="faCheckToSlot"></fa-icon>
    <div class="flex flex-col">
      <h3 class="text-lg font-semibold text-gray-800">{{ card.title }}</h3>
      <p class="text-sm text-gray-500">in list ToDo</p>
    </div>
  </div>
  <div class="flex w-full gap-4">
    <div class="flex space-x-2 mb-5 w-4/6">
      <fa-icon class="text-gray-800 pt-1" [icon]="faBars"></fa-icon>
      <div class="flex w-full flex-col">
        <div class="flex justify- gap-x-4 align-middle">
          <h3 class=" text-lg font-semibold text-gray-800">Description</h3>
          <button type="button" class="focus:outline-none" (click)="openEditDesciptionCardForm()">
            <fa-icon class="text-gray-800" [icon]="faPenToSquare"></fa-icon>
          </button>
        </div>
        <div class="mt-5">
          <div *ngIf="showDescriptionEditForm">
            <textarea [formControl]="inputDescription"
              class="w-full rounded text-xs border-gray-300 border-b-gray-400 border-b-2"></textarea>
            <div class="flex space-x-2 justify-between">
              <app-btn color="success" (click)="saveDescriptionCard(card)">Create</app-btn>
              <app-btn color="gray" (click)="closeEditDesciptionCardForm()">Close</app-btn>
            </div>
          </div>
        </div>
        <p *ngIf="!showDescriptionEditForm" class="text-sm text-gray-500">
          {{card.description || 'No hay descripción'}}
        </p>
      </div>
    </div>
    <div class="flex flex-auto space-y-2 flex-col">
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faUser"></fa-icon>
          <span>Members</span>
        </span>
      </app-btn>
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faTag"></fa-icon>
          <span>Labels</span>
        </span>
      </app-btn>
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faCheckSquare"></fa-icon>
          <span>Checklist</span>
        </span>
      </app-btn>
      <app-btn typeBtn="button" color="light">
        <span class="flex space-x-2 text-left">
          <fa-icon class="text-gray-800" [icon]="faClock"></fa-icon>
          <span>Dates</span>
        </span>
      </app-btn>
    </div>
  </div>
</div>